<!DOCTYPE html>

<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta name="robots" content="index,follow">

			<title>meetup - Найти</title>

		<meta name="description" content="">

		<link rel="shortcut icon" type="image/x-icon" href="">

		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="../static/css/category.css">
		
		<script src="../static/js/pages/category.js" async></script>
	</head>
	<body>
		<header class="header">
			<div class="header__wrapper header_top">
				<div class="header__button">
					<a><img src="../static/img/icons/les.svg" alt=""></a>
				</div>
				<div class="header__title">
					<h1>Найти</h1>
				</div>
				<div class="header__button">
					<a><img src="../static/img/icons/search.svg" alt=""></a>
				</div>
			</div>
			<nav class="header__wrapper header_bottom header__nav">
				<a href="#" class="header__nav__item header__nav__item_active">
					<img src="../static/img/icons/home.svg" alt="">
					<span>Главная</span>
				</a>
				<a href="#" class="header__nav__item">
					<img src="../static/img/icons/events.svg" alt="">
					<span>События</span>
				</a>
				<a href="#" class="header__nav__item">
					<img src="../static/img/icons/search.svg" alt="">
					<span>Найти</span>
				</a>
				<a href="#" class="header__nav__item">
					<img src="../static/img/icons/message.svg" alt="">
					<span>Чат</span>
				</a>
				<a href="#" class="header__nav__item">
					<div style="background-image: url('../static/img/account/profile1/squirrel.jpg')" class="header__nav__item__img_size24"></div>
					<span>Профиль</span>
				</a>
			</nav>
		</header>
		<div class="clr"></div>
		<div class="container">
			<div class="category">
				<a class="category__item">
					<img src="../static/img/icons/drink.svg" alt="">
					<span>Бухать</span>
				</a>
				<a class="category__item">
					<img src="../static/img/icons/se.svg" alt="">
					<span>Вдвоем</span>
				</a>
				<a class="category__item">
					<img src="../static/img/icons/eat.svg" alt="no icon">
					<span>Похавать</span>
				</a>
				<a class="category__item">
					<img src="../static/img/icons/***.svg" alt="no icon">
					<span>К лесяну</span>
				</a>
			</div>
		</div>
		<div class="clr"></div>
	</body>
</html>