<!DOCTYPE html>

<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta name="robots" content="index,follow">

			<title>meetup - Привет :D</title>

		<meta name="description" content="">

		<link rel="shortcut icon" type="image/x-icon" href="">

		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="../static/css/hi.css">
	</head>
	<body>
		<div class="container">
			<div class="hi">
				<img src="../static/img/logo.png" alt="">
				<h1>Рады вас видеть в MeetUp!</h1>

				<a href="#" class="hi__signup">Регистрация</a>
				<a href="#" class="hi__login">Вход</a>
			</div>
		</div>	
	</body>
</html>