<!DOCTYPE html>

<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta name="robots" content="index,follow">

			<title>meetup - Сообщения</title>

		<meta name="description" content="">

		<link rel="shortcut icon" type="image/x-icon" href="">

		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="../static/css/message.css">
		
		<script src="../static/js/pages/message.js" async></script>
	</head>
	<body>
		<header class="header">
			<div class="header__wrapper header_top">
				<div class="header__title">
					<h1>Сообщения</h1>
				</div>
				<div class="header__button">
					<a><img src="../static/img/icons/friends2.svg" alt=""></a>
				</div>
			</div>
			<nav class="header__wrapper header_bottom header__nav">
				<a href="#" class="header__nav__item">
					<img src="../static/img/icons/home.svg" alt="">
					<span>Главная</span>
				</a>
				<a href="#" class="header__nav__item">
					<img src="../static/img/icons/events.svg" alt="">
					<span>События</span>
				</a>
				<a href="#" class="header__nav__item">
					<img src="../static/img/icons/search.svg" alt="">
					<span>Найти</span>
				</a>
				<a href="#" class="header__nav__item">
					<img src="../static/img/icons/message.svg" alt="">
					<span>Чат</span>
				</a>
				<a href="#" class="header__nav__item">
					<div style="background-image: url('../static/img/account/profile1/squirrel.jpg')" class="header__nav__item__img_size24"></div>
					<span>Профиль</span>
				</a>
			</nav>
		</header>
		<div class="clr"></div>
		<!-- if message-list == empty -->
			<div class="container message-list message-list_empty">
				<h5 class="message-list_empty__title">У Вас нет диалогов</h5>
				<a class=" message-list_empty__button" href="#">Открыть контакты</a>
			</div>
		<!-- else -->
			<div class="container message-list">
				<a class="message">
					<div class="message__column">
						<div class="message__column__img" style="background-image: url('../static/img/account/profile2/oleg.jpg')"></div>
					</div>
					<div class="message__column">
						<div class="flex-row">
							<div>
								<div class="message__column__name">Group</div>
								<div class="message__column__status">Xanny!</div>
							</div>
							<div>
								<div class="message__column__time">23:48</div>
							</div>
						</div>
						<div class="flex-row">
							<div class="message__column__text">А, да изи вывод данных из бд, чик чирик</div>
							<div class="message__column__quantity">3</div>
						</div>
					</div>
				</a>
				<a class="message">
					<div class="message__column">
						<div class="message__column__img" style="background-image: url('../static/img/account/profile2/oleg.jpg')"></div>
					</div>
					<div class="message__column">
						<div class="flex-row">
							<div>
								<div class="message__column__name">Group</div>
								<div class="message__column__status">Xanny!</div>
							</div>
							<div>
								<div class="message__column__time">23:48</div>
							</div>
						</div>
						<div class="flex-row">
							<div class="message__column__text">А, да изи вывод данных из бд, чик чирик</div>
							<div class="message__column__quantity">100</div>
						</div>
					</div>
				</a>
				<a class="message">
					<div class="message__column">
						<div class="message__column__img" style="background-image: url('../static/img/account/profile2/oleg.jpg')"></div>
					</div>
					<div class="message__column">
						<div class="flex-row">
							<div>
								<div class="message__column__name">Group</div>
								<div class="message__column__status">Xanny!</div>
							</div>
							<div>
								<div class="message__column__time">23:48</div>
							</div>
						</div>
						<div class="flex-row">
							<div class="message__column__text">А, да изи вывод данных из бд, чик чирик</div>
							<div class="message__column__quantity">100</div>
						</div>
					</div>
				</a>
			</div>
		<div class="clr"></div>
	</body>
</html>