<!DOCTYPE html>

<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta name="robots" content="index,follow">

			<title>meetup - Поиск Друзей</title>

		<meta name="description" content="">

		<link rel="shortcut icon" type="image/x-icon" href="">

		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="../static/css/search.css">
		
		<script src="../static/js/pages/search.js" async></script>
	</head>
	<body>
		<header class="header">
			<div class="header__wrapper header_top">
				<div class="header__button">
					<a><img src="../static/img/icons/arrow_back.svg" alt=""></a>
				</div>
				<div class="header__title">
					<h1>Поиск друзей</h1>
				</div>
				<div class="header__button"></div>
			</div>
			<nav class="header__wrapper header_bottom header__nav">
				<a href="#" class="header__nav__item header__nav__item_active">
					<img src="../static/img/icons/home.svg" alt="">
					<span>Главная</span>
				</a>
				<a href="#" class="header__nav__item">
					<img src="../static/img/icons/events.svg" alt="">
					<span>События</span>
				</a>
				<a href="#" class="header__nav__item">
					<img src="../static/img/icons/search.svg" alt="">
					<span>Найти</span>
				</a>
				<a href="#" class="header__nav__item">
					<img src="../static/img/icons/message.svg" alt="">
					<span>Чат</span>
				</a>
				<a href="#" class="header__nav__item">
					<div style="background-image: url('../static/img/account/profile1/squirrel.jpg')" class="header__nav__item__img_size24"></div>
					<span>Профиль</span>
				</a>
			</nav>
		</header>
		<div class="clr"></div>
		<form action="" method="GET" class="user-search">
			<input type="text" placeholder="Введите ID друга">
		</form>
		<div class="user-list">
			<a class="user-list__item" href="#">
				<div class="flex-row">
					<div class="user-list__item__name">Олег Романов</div>
					<div class="user-list__item__id">#id</div>
				</div>
				<div class="user-list__item__status">Хороший работник</div>
			</a>
			<a class="user-list__item" href="#">
				<div class="flex-row">
					<div class="user-list__item__name">Олег Романов</div>
					<div class="user-list__item__id">#id</div>
				</div>
				<div class="user-list__item__status">Хороший работник</div>
			</a>
			<a class="user-list__item" href="#">
				<div class="flex-row">
					<div class="user-list__item__name">Олег Романов</div>
					<div class="user-list__item__id">#id</div>
				</div>
				<div class="user-list__item__status">Хороший работник</div>
			</a>
		</div>
		<div class="clr"></div>
	</body>
</html>