<!DOCTYPE html>

<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta name="robots" content="index,follow">

			<title>meetup - Поиск</title>

		<meta name="description" content="">

		<link rel="shortcut icon" type="image/x-icon" href="">

		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="../static/css/search.css">
		
		<script src="../static/js/pages/search.js" async></script>
	</head>
	<body>
		<header class="header">
			<div class="header__wrapper header_top">
				<div class="header__button">
					<a><img src="../static/img/icons/arrow_back.svg" alt=""></a>
				</div>
				<div class="header__title">
					<h1>Поиск</h1>
				</div>
				<div class="header__button"></div>
			</div>
			<nav class="header__wrapper header_bottom header__nav">
				<a href="#" class="header__nav__item header__nav__item_active">
					<img src="../static/img/icons/home.svg" alt="">
					<span>Главная</span>
				</a>
				<a href="#" class="header__nav__item">
					<img src="../static/img/icons/events.svg" alt="">
					<span>События</span>
				</a>
				<a href="#" class="header__nav__item">
					<img src="../static/img/icons/search.svg" alt="">
					<span>Найти</span>
				</a>
				<a href="#" class="header__nav__item">
					<img src="../static/img/icons/message.svg" alt="">
					<span>Чат</span>
				</a>
				<a href="#" class="header__nav__item">
					<div style="background-image: url('../static/img/account/profile1/squirrel.jpg')" class="header__nav__item__img_size24"></div>
					<span>Профиль</span>
				</a>
			</nav>
		</header>
		<div class="clr"></div>
		<div class="events-list">
			<a class="events-list__item" href="#">
				<div class="flex-row">
					<div class="events-list__item__name">69 Pints</div>
					<div class="events-list__item__location">99999м</div>
				</div>
				<div class="events-list__item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
			</a>
			<a class="events-list__item" href="#">
				<div class="flex-row">
					<div class="events-list__item__name">69 Pints</div>
					<div class="events-list__item__location">5м</div>
				</div>
				<div class="events-list__item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
			</a>
			<a class="events-list__item" href="#">
				<div class="flex-row">
					<div class="events-list__item__name">69 Pints</div>
					<div class="events-list__item__location">127м</div>
				</div>
				<div class="events-list__item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
			</a>
		</div>
		<div class="clr"></div>
	</body>
</html>