<!DOCTYPE html>

<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta name="robots" content="index,follow">

			<title>meetup - Group</title>

		<meta name="description" content="">

		<link rel="shortcut icon" type="image/x-icon" href="">

		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="../static/css/squirrel.css">
		
		<script src="../static/js/pages/squirrel.js" async></script>
	</head>
	<body>
		<header class="header">
			<div class="header__wrapper header_top">
				<div class="header__button">
					<a><img src="../static/img/icons/arrow_back.svg" alt=""></a>
				</div>
				<div class="header__title">
					<h1>Group</h1>
				</div>
				<div class="header__button"></div>
			</div>
			<nav class="header__wrapper header_bottom header__nav" style="visibility: hidden;">
				<a href="#" class="header__nav__item">
					<img src="../static/img/icons/home.svg" alt="">
					<span>Главная</span>
				</a>
				<a href="#" class="header__nav__item">
					<img src="../static/img/icons/events.svg" alt="">
					<span>События</span>
				</a>
				<a href="#" class="header__nav__item">
					<img src="../static/img/icons/search.svg" alt="">
					<span>Найти</span>
				</a>
				<a href="#" class="header__nav__item">
					<img src="../static/img/icons/message.svg" alt="">
					<span>Чат</span>
				</a>
				<a href="#" class="header__nav__item">
					<div style="background-image: url('../static/img/account/profile1/squirrel.jpg')" class="header__nav__item__img_size24"></div>
					<span>Профиль</span>
				</a>
			</nav>
		</header>
		<div class="clr"></div>
		<div class="container">
			<div class="squirrel">
				<div class="squirrel__message squirrel__message_left squirrel__message_white">
					<div class="squirrel__message__text">Magni dolores eos qui ratione voluptatem</div>
					<div class="squirrel__message__time">09:45 am</div>
				</div>
				<div class="squirrel__message squirrel__message_right squirrel__message_black">
					<div class="squirrel__message__time">09:45 am</div>
					<div class="squirrel__message__text">Magni dolores eos qui ratione voluptatem</div>
				</div>
				<div class="squirrel__message squirrel__message_right squirrel__message_black">
					<div class="squirrel__message__time">09:45 am</div>
					<div class="squirrel__message__text">Magni dolores eos qui ratione voluptatem</div>
				</div>
				<div class="squirrel__message squirrel__message_right squirrel__message_black">
					<div class="squirrel__message__time">09:45 am</div>
					<div class="squirrel__message__text">Magni dolores eos qui ratione voluptatem</div>
				</div>
				<div class="squirrel__message squirrel__message_left squirrel__message_white">
					<div class="squirrel__message__text">Magni dolores eos qui ratione voluptatem</div>
					<div class="squirrel__message__time">09:45 am</div>
				</div>
				<div class="squirrel__message squirrel__message_left squirrel__message_white">
					<div class="squirrel__message__text">Magni dolores eos qui ratione voluptatem</div>
					<div class="squirrel__message__time">09:45 am</div>
				</div>
				<div class="squirrel__message squirrel__message_left squirrel__message_white">
					<div class="squirrel__message__text">Magni dolores eos qui ratione voluptatem</div>
					<div class="squirrel__message__time">09:45 am</div>
				</div>
				<div class="squirrel__message squirrel__message_left squirrel__message_white">
					<div class="squirrel__message__text">Magni dolores eos qui ratione voluptatem</div>
					<div class="squirrel__message__time">09:45 am</div>
				</div>
				<div class="squirrel__message squirrel__message_left squirrel__message_white">
					<div class="squirrel__message__text">Magni dolores eos qui ratione voluptatem</div>
					<div class="squirrel__message__time">09:45 am</div>
				</div>
				<div class="squirrel__message squirrel__message_left squirrel__message_white">
					<div class="squirrel__message__text">Magni dolores eos qui ratione voluptatem</div>
					<div class="squirrel__message__time">09:45 am</div>
				</div>
				<div class="squirrel__message squirrel__message_left squirrel__message_white">
					<div class="squirrel__message__text">Magni dolores eos qui ratione voluptatem</div>
					<div class="squirrel__message__time">09:45 am</div>
				</div>
			</div>
		</div>
		<div class="clr"></div>
		<form action="" method="POST" class="makethis">
			<input type="text" placeholder="Сообщение">
			<a href="#">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M2.01 21L23 12L2.01 3L2 10L17 12L2 14L2.01 21Z" fill="#DADDDF"/>
				</svg>
			</a>
		</form>
	</body>
</html>